.form{
    height: 70vh;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;

    &_backgroung{
        background: url(../images/form.jpg);
        height: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_container {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 13px;
        background-color: #fff;
        height: fit-content;
        padding: 80px;
        border-radius: 10px;

        @include responsive(1200px){
            width: 70%; 
        }
        @include responsive(997px){
            width: 70%; 
        }
        @include responsive(687px){
            width: 80%; 
        }
    
    }

    &_title{
        font-size: 2rem;

        @include responsive(1300px){
            font-size: 25px; 
        }
    }
}

.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}